

.emer {
    background: rgb(44, 184, 184);
    width: 40%;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 22px;
    position: absolute;
    left: 60%;
    top: 15%;
    display: none;
  }
  #cerrar {
    position: absolute;
    right: 10px;
    top: 2px;
  }
  .emer .colum > a {
    color: white;
    text-decoration: none;
  }

  .container {
    position: relative;
    box-shadow: 2px 2px 2px 2px #222831;
    background-color: #ffff;
    width: 85%;
    padding: 40px 40px 40px 40px;
  }

  .columns{
      padding: 0 10px 0 10px;
  }
h1{
    color: cornflowerblue;
}
h2{
    color: white;
    font-size: medium;
}

input{
  width: 25%;
	background: white;
	border: 3px solid rgba(163,163,163, 0.4);
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

input:focus{
    border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
.btn{
    height: 45px;
	line-height: 45px;
	width: 10%;
	background: rgba(163,163,163, 0.4);
	color: black;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
    text-align: center;
}